
body{
    background-color: #0D0D0D;
    color: #f9f6f6 !important;
overflow: hidden;
}

.open-close-icon{
    cursor: pointer;
}
.loading{
    z-index: 999999;
    display: flex;
}

.nav-links{
    list-style: none;
}

.nav-links li,i,.meal,.logo{
    cursor: pointer;
}
.nav-header  {
    width: 20%;
  
}
.inner-loading-screen{
    position: absolute;

    background-color: #0D0D0D;
    display: flex;
  
}
.side-nav-menu{

    z-index: 9999;
}

.meal-overlay{
    width: 100%;
    height: 100%;
    background-color: #f9f6f6ca;
    top: 100%;
    transition: .5s;
}

.meal:hover .meal-overlay{
    top: 0;
}

.form-control::placeholder{
    color: rgb(143, 143, 143);
}